 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0; }
 a { text-decoration: none; }
 body { font-family: 'Open Sans', sans-serif; font-size: 14px; background:#1d202e; color: #aaa; line-height:24px; }
 .wrapper { background:#1d202e; padding-top:20px; }
 .mason { width:100%; height:100%; background-color:#affc41; padding-top:3px; top:0; position:absolute; }
 .container { margin: 0 auto; width: 960px; }
 #header-wrap, #banner-wrap, #nav-wrap, #main-wrap, #footer-wrap { width:100%; }
 #main-wrap .container {min-height:450px;}
 h3 { font-size: 22px; padding: 1em 0 .2em 0; line-height: 1.2; font-weight: normal; letter-spacing: 0px; color: #555; margin-bottom:20px; }
 a { color: #bbb; transition: color 1s; -moz-transition: color 1s; -webkit-transition: color 1s; -o-transition: color 1s; }
 a:hover { color: #555; }
 .srchform {outline: none; font-size: 12pt; font-weight: normal; padding: 6px 5px; border: 2px solid #3d4045; background-color: #232528; color: #4c5157; border-radius: 5px; -moz-border-radius: 3px; }
 .srchformbtn {font-size: 12pt; font-weight: normal; padding: 6px 10px; border: 2px solid #3d4045; background-color: #232528; color: #4c5157; border-radius: 5px; -moz-border-radius: 3px; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s;}
 .srchformbtn:hover {font-size: 12pt; font-weight: normal; padding: 6px 10px; border: 2px solid #6bcaff; background-color: #6bcaff; color: #232528; border-radius: 5px; -moz-border-radius: 3px; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s;}
 blockquote { font-style:italic; border-left:4px solid #444 !important; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#555 !important; }
 h2 { font-size: 22px; padding: 0.7em 0 .2em 0; line-height: 1.2; font-weight: normal; letter-spacing: -1px; color: #999; margin-bottom:20px; }
 div.paragraph { color:#777; font-weight: 400; margin-top: 10px; margin-bottom:10px; }
 p { color:#777; font-weight: 400; margin-top: 10px; margin-bottom:10px; }
 #nav-wrap .container, #nav-wrap .container table { border-collapse: collapse; border-spacing: 0; }
 #nav { margin-right: 170px; }
 #wsite-title { font-family: 'Open Sans', sans-serif; font-weight:300; font-size:16px; color:#bbb; line-height:28px; float:left; transition: color 1s; -moz-transition: color 1s; -webkit-transition: color 1s; -o-transition: color 1s; }
 #wsite-title:hover { color:#fff; }
 #header { border-collapse: collapse; border-spacing: 0; text-align:right; height:20px; width:100%; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
 #header-right { border-spacing:0; padding:0; padding-top:20px; }
 #header-right table { float:right; width:1px; }
 #header-right td { padding: 0 0 0 0; }
 #header-right .phone-number .wsite-text { font-weight: 300; font-size:14px; display: block; white-space: nowrap; line-height: 31px; margin: 0 0 0 10px; text-align: right; color:#555; }
 #header-right .phone-number .wsite-text a {}
 #header-right .phone-number .wsite-text a:hover {}
 #header-right .wsite-social { vertical-align: middle; margin-left:15px; }
 .wsite-social-item { width: 25px; height: 25px; margin: 0 0 0 3px; background-image:url("theme/social-dark-1453312150.png"); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -25px;}
 .wsite-social-facebook:active {background-position:0 -50px;}
 .wsite-social-pinterest {background-position:-25px 0;}
 .wsite-social-pinterest:hover {background-position:-25px -25px;}
 .wsite-social-pinterest:active {background-position:-25px -50px;}
 .wsite-social-twitter {background-position:-50px 0;}
 .wsite-social-twitter:hover {background-position:-50px -25px;}
 .wsite-social-twitter:active {background-position:-50px -50px;}
 .wsite-social-linkedin {background-position:-75px 0;}
 .wsite-social-linkedin:hover {background-position:-75px -25px;}
 .wsite-social-linkedin:active {background-position:-75px -50px;}
 .wsite-social-mail {background-position:-100px 0;}
 .wsite-social-mail:hover {background-position:-100px -25px;}
 .wsite-social-mail:active {background-position:-100px -50px;}
 .wsite-social-rss {background-position:-125px 0;}
 .wsite-social-rss:hover {background-position:-125px -25px;}
 .wsite-social-rss:active {background-position:-125px -50px;}
 .wsite-social-flickr {background-position:-150px 0;}
 .wsite-social-flickr:hover {background-position:-150px -25px;}
 .wsite-social-flickr:active {background-position:-150px -50px;}
 .wsite-social-plus {background-position:-175px 0;}
 .wsite-social-plus:hover {background-position:-175px -25px;}
 .wsite-social-plus:active {background-position:-175px -50px;}
 .wsite-social-vimeo {background-position:-200px 0;}
 .wsite-social-vimeo:hover {background-position:-200px -25px;}
 .wsite-social-vimeo:active {background-position:-200px -50px;}
 .wsite-social-yahoo {background-position:-225px 0;}
 .wsite-social-yahoo:hover {background-position:-225px -25px;}
 .wsite-social-yahoo:active {background-position:-225px -50px;}
 .wsite-social-youtube {background-position:-250px 0;}
 .wsite-social-youtube:hover {background-position:-250px -25px;}
 .wsite-social-youtube:active {background-position:-250px -50px;}
 #header-right .search { width:180px; vertical-align: middle; }
 #header-right .wsite-search { vertical-align: middle; margin-left:15px; width:180px; height:26px; background:url("theme/search-bg-dark-1453312150.png") no-repeat top left; }
 #header-right .wsite-search-input { width: 145px; border: none; padding: 6px !important; color: #fff; font-size: 12px ; background: none; height:auto !important; }
 #header-right .wsite-search-button { position: relative; width: 14px; height: 14px; border: 0px; margin: 6px 0px 0px 5px; background: url("theme/search-button-1453312150.png") no-repeat right center; }
 #nav-wrap .container { clear: both; overflow: hidden; position: relative; margin-bottom:20px; }
 #nav-wrap .container table, #nav-wrap .container table tr, #nav-wrap .container table tr td, #nav-wrap .container table tbody { vertical-align:bottom; }
 #nav { float:right; }
 #navigation { line-height: 1; float: right; }
 #navigation ul { display: inline; list-style: none; float: right; max-width:700px; overflow:hidden; margin-bottom:-5px; }
 #navigation li { display: inline; position: relative; list-style: none; margin-left:30px; float: left; height: 44px; }
 #navigation ul li a { display: block; color: #9d9fab; text-decoration: none; padding: 18px 0px 8px; margin:0 0 0 30px; border: 0; outline: 0; list-style-type: none; float: left; font:16px 'Open Sans',arial,sans-serif; text-transform:uppercase; font-weight:300; }
 #navigation ul li#active a{ color:#e3e3e3; }
 #navigation ul li a:hover { color: #e3e3e3; }
 #wsite-menus .wsite-menu { background:#1e1e1e; position:relative; box-shadow:0 1px 10px rgba(0,0,0,0.2); }
 #wsite-menus .wsite-menu li a { background: #1e1e1e; border:none; border-bottom: 1px solid #111; border-top: 1px solid #333; display: block; color:#999; }
 #wsite-menus .wsite-menu li a:hover { color: #fff; background:#1e1e1e; }
 #banner { margin-bottom:40px; box-shadow:0 5px 15px rgba(0,0,0,0.5); }
 #banner-image-wrap { position:relative }
 .tall-header-page #banner-image-wrap { width: 100%; height: 636px; }
 .tall-header-page .wsite-header { width: 100%; height: 400px; background: url("theme/banner-tall-1453312150.jpg") no-repeat; }
 .short-header-page #banner-image-wrap { width: 100%; height: 300px; }
 .short-header-page .wsite-header { width: 100%; height: 200px; background: url("theme/banner-short-1453312150.jpg") no-repeat; }
 .no-header-page #banner, .no-header-page .wsite-header { display:none; }
 .landing-page #banner {}
 #bannerleft { width: 500px; height: 300px; float:right; position:relative; }
 .landing-page .wsite-header { width: 100%; height: 300px; background: url("theme/banner-landing-1453312150.jpg") no-repeat; }
 #bannerright { width: 390px; height:240px; text-align:left; float:left; padding: 30px 40px 30px 30px; background:#333333; }
 #bannerright h2 { color: black; font-size: 24px; font-weight: 300; color:#bbb; padding: 0px; line-height: 24px; margin-bottom: 0px; }
 #bannerright div.paragraph { padding: 20px 0px; line-height: 140%; }
 #bannerright p { padding: 20px 0px; line-height: 140%; }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #main-wrap .container h2 { margin-bottom:10px; }
 #footer-wrap {visibility:hidden; margin-top:0px; background:#333333; }
 #footer-wrap .container {visibility:hidden; text-align:left; padding:30px 0px 35px; text-align:right; }
 #footer-wrap ul {visibility:hidden; text-align:left; }
 #footer-wrap a:hover {visibility:hidden; color: #555; }
 #footer-wrap h2 {visibility:hidden; font-size: 20px; padding-bottom:10px; margin:0; font-weight: normal; color:#888; }
 .wsite-form-label { display: inline-block; color: #; font-family: Arial, Helvetica, sans-serif; font-size: 1em; padding: 6px 0 0px 0; }
 .form-radio-container { color: #797979; font-size: 1em; font-family: Arial, Helvetica, sans-serif; }
 .wsite-form-input, .wsite-search-element-input { font-family: Arial, Helvetica, sans-serif; font-size: 1em; color: #FFF; background: #1d202e; border: 2px solid #2d3248; padding: 10px 5px 5px !important; line-height: 1; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 5px; }
 .form-select { color: #797979; background: #292929; border: none; font-size: 1em; font-family: Arial, Helvetica, sans-serif; padding: 3px 4px; width: 320px; height: 27px; line-height: 27px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
 .form-radio-container { font-size:.9em; height:20px; padding:0; margin:0 0 5px 0 !important; }
 .wsite-form-container { margin-top:40px !important; text-align:left; margin-bottom:-28px !important; }
 .wsite-footer .wsite-form-label { font-size: 1em; padding: 5px 0 2px 0; }
 .wsite-footer .wsite-form-input { font-size: 1em; }
 .wsite-button { background: #1d202e; border: 2px solid #2d3248; -moz-border-radius: 3px; border-radius: 5px; color: white !important; font-size: 13px; font-weight: bold !important; padding: 3px 25px; text-align: center; text-decoration: none !important; text-shadow: 0px 0px 0px rgba(0,0,0,0.0); -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; }
 .wsite-button:hover { background-position:0 0; -o-transition:.3s; -ms-transition:.3s; -moz-transition:.3s; -webkit-transition:.3s; transition:.3s; background-color:#affc41; border: 2px solid #affc41; }
 .wsite-button:active { background-position:0 0; }
 .wsite-button-inner { -o-transition:.3s; -ms-transition:.3s; -moz-transition:.3s; -webkit-transition:.3s; color: #3c425f !important; padding:0; background: none; }
 .wsite-button:hover .wsite-button-inner { color: #232528 !important; background:none; border:none; padding:4px 25px 2px; }
 .wsite-button:active { padding:4px 25px 2px; }
 .wsite-button-large .wsite-button-inner { font-size:14px; padding:0; }
 .wsite-button-large .wsite-button-inner { background: none; }
 .wsite-button-highlight, .wsite-button-large.wsite-button-highlight { background: rgb(184,184,184); background: -moz-linear-gradient(top, rgba(184,184,184,1) 0%, rgba(119,119,119,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,184,184,1)), color-stop(100%,rgba(119,119,119,1))); background: -webkit-linear-gradient(top, rgba(184,184,184,1) 0%,rgba(119,119,119,1) 100%); background: -o-linear-gradient(top, rgba(184,184,184,1) 0%,rgba(119,119,119,1) 100%); background: -ms-linear-gradient(top, rgba(184,184,184,1) 0%,rgba(119,119,119,1) 100%); background: linear-gradient(to bottom, rgba(184,184,184,1) 0%,rgba(119,119,119,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b8b8', endColorstr='#777777',GradientType=0 ); border: none; box-shadow:inset 0 0 15px rgba(0,0,0,0.25); }
 .wsite-button-highlight:hover , .wsite-button-large.wsite-button-highlight:hover { box-shadow:0 1px 4px rgba(0,0,0,0.3); }
 .wsite-button-highlight .wsite-button-inner { background-image: none; color:#222 !important; text-shadow:0 1px 0 rgba(255,255,255,0.4); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: none; }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
